<div id="lead-{{ id }}" class="col-lg-12 col-xs-12 lead-box">
  <div class="panel panel-default">
    <div class="panel-body">
      <span id="toggle-{{ id }}" class="pull-left collapse-toggle glyphicon glyphicon-collapse-down"></span>
      <h3>{{ lead.title }} <small>from {{ lead.source_name }} on {{ humanizedTimestamp }}</small></h3>
      <div class="description">{{{ lead.description }}}</div>
    </div>
    <div class="panel-footer">
      <ul class="single-line-nav">
        <li><a href="{{ lead.lead_url }}"><span class="glyphicon glyphicon-link"></span></a></li>
        {{#if hasName}}
          <li><span class="glyphicon glyphicon-user"></span>{{ lead.contact_name }}</li>
        {{/if}}
        {{#if hasEmail}}
          <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{ lead.contact_email }}">{{ lead.contact_email }}</a></li>
        {{/if}}
        {{#if hasWebsite}}
          <li><span class="glyphicon glyphicon-globe"></span><a href="{{ lead.website }}">{{ lead.website }}</a></li>
        {{/if}}
        {{#if hasTwitter}}
          <li><div class="twitter icon"></div><a href="https://www.twitter.com/{{ lead.twitter }}">@{{ lead.twitter }}</a></li>
        {{/if}}
        {{#if hasLinkedIn}}
          <li><div class="linkedin icon"></div><a href="{{ lead.linkedin }}">{{ lead.linkedin }}</a></li>
        {{/if}}
      </ul>
      <ul class="single-line-nav actions pull-right">
        <li id="refresh-{{ id }}"><span class="glyphicon glyphicon-flash"></span></li>
        <li id="save-{{ id }}"><span class="glyphicon glyphicon-save"></span></li>
        <li id="remove-{{ id }}"><span class="glyphicon glyphicon-trash"></span></li>
      </ul>
    </div>
  </div>
</div>
